@model ProductWeb.Client.ViewModels.AddProductViewModel

@{
    ViewBag.Title = "Добавить продукт";
}

<div class="container custom text-custom" style="margin-top: 10%">
    <form asp-action="AddProduct" asp-controller="Home" asp-antiforgery="true">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group text-center" style="margin-bottom: 25px">
            <h2>@ViewBag.Title</h2>
        </div>
        <div class="form-group">
            <input type="hidden" asp-for="@Model.Page" />
        </div>
        <div class="form-group" style="margin-bottom: 25px">
            <label asp-for="@Model.Name" class="control-label">Название</label>
            <input type="text" asp-for="@Model.Name" class="form-control" />
        </div>
        <div class="form-group text-custom">
            <a asp-action="AddCategory" asp-controller="Home" asp-route-page="@Model.Page" asp-route-previousPage="AddProduct">Добавить категорию</a>
        </div>
        <div class="form-group" style="margin-bottom: 25px">
            @for (int i = 0; i < Model.Selected.SelectedList.Count; i++)
            {
                <div class=" checkbox">
                    <input class="custom-checkbox text-center"
                           type="checkbox"
                           asp-for="@Model.Selected.SelectedList[i].IsChecked"
                           checked="@Model.Selected.SelectedList[i].IsChecked" />
                    <label asp-for="@Model.Selected.SelectedList[i].IsChecked">@Model.Selected.SelectedList[i].Category.Name</label>
                </div>
                <div>
                    <input type="hidden" asp-for="@Model.Selected.SelectedList[i].Category.Name" />
                    <input type="hidden" asp-for="@Model.Selected.SelectedList[i].Category.Id" />
                </div>
            }
        </div>
        <div class="form-group text-center">
            <input type="submit" value="Сохранить" class="btn btn-primary btn-custom" />
            <a class="btn btn-outline-secondary btn-custom" asp-action="GetAllProducts" asp-controller="Home" asp-route-page="@Model.Page">Назад</a>
        </div>
    </form>
</div>